body{
  font-family:Arial, Helvetica, sans-serif;
  background-color: #a06a2498;
}
a{
  text-decoration: none;
  color:black;
}
a:hover{
  color:white;
}

.navbar{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  font-weight: bold;
  transition: color .5s ease;
  }
.email-Verificatin{
 width: 100%;
 height:600px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}

.email-Verificatin form{
  width: 400px;
  padding:15px 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 10px;
}
span{
  font-size: 20px;
  text-align: start;
  font-weight: bold;
  color:white;
  margin:20px 0;
}
form label{
  font-size: 18px;
  font-weight:500;

}
form input{
  padding:8px 5px;
  width:90%;
  border-radius: 5px;
}
form textarea{
  padding:8px 5px;
  width:90%;
  border-radius: 5px;
  resize: vertical;
  min-height: 60px;
}
form button{
  padding:10px 15px;
  background-color:rgb(221, 132, 16);
  border:none;
  border-radius: 5px;
  color:white;
  cursor: pointer;
  
}
form button:hover{
  box-shadow: 2px 4px 5px rgb(0, 0, 0,0.3);
  opacity: .9;
  transition: box-shadow .3s ease,opacity .3s ease;

}


/* style the alart  */
.overly{
  position:fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  background-color: rgba(185, 185, 185, 0.514);
  z-index: 2;
}
.hide-overly{
  display: none;
}
.notification{
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 10px;
  background-color: #fff;
  padding:15px 10px;
  border-radius: 5px;
  position: absolute;
  top:-100%;
  transition: top .5s ease-in;
  z-index: 10;

}

.show-notification{
  top:25%
}
.notification-message{
  color:gray;
  font-size: 15px;
}
.notification-button button{
  all:unset;
  padding:5px 10px;
  font-weight: bold;
  background-color:rgb(221, 132, 16);
  border:none;
  border-radius: 5px;
  color:white;
  cursor: pointer;

}

/* the alarm styles */

.clock{
  color:white;
  font-size: 40px;
  font-weight: bold;
}
@media (max-width:420px) {
  .email-Verificatin form{
    width:300px;
  }
}
